.regions-filter {
  padding: 10px 0px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .regions-filter {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

.regions-filter > label {
  color: tomato;
  font-size: 20px;
}

.region-select {
  font-size: 20px;
}
