body {
  background-image: url("../images/backgrounds/earth-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.font-size-1x5 {
  font-size: 1.5rem;
}

.font-size-2x {
  font-size: 2rem;
}

.font-size-3 {
  font-size: 3rem;
}
